{{define "head"}}<title>{{.Data.Content.Name}}</title>{{end}}
{{define "body"}}
<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">
						<div class="9u important(collapse)">
							<div class="content content-left">
							
								<!-- Content -->
						
									<article class="box page-content">

										<header>
											<h2>{{.Data.Content.Meta.title}}</h2>
											<!-- <p>Semper amet scelerisque metus faucibus morbi congue mattis</p> -->
											<!-- <ul class="meta">
												<li class="icon fa-clock-o">5 days ago</li>
												<li class="icon fa-comments"><a href="#">1,024</a></li>
											</ul> -->
										</header>
										
										<section>
											<p>Collexy Ecommerce Product Categories Widget</p>
										</section>

									</article>

							</div>
						</div>
						<div class="3u">
							<div class="sidebar">
							
								<!-- Sidebar -->
									

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							


						</div>
					</div>
				</div>
			</div>
{{end}}