<div ng-controller="DataTypeEditCtrl" class="collexy-controller">
    <form role="form" ng-submit="submit()">
        <h4>Edit</h4>

        <input type="text" ng-model="entity.name">

        <ul class="admin-tabs">
            <li ng-class="(currentTab=='data-type') ? 'active' : ''"><a href="#data-type" collexy-toggle-tab="toggleTab('data-type')">Data Type</a></li>
            <!-- <li ng-repeat="tab in entity.ct.tabs  | unique: 'name'" ng-class="(currentTab==tab.name) ? 'active' : ''"><a href="#{{tab.name}}" ng-click="toggleTab(tab.name)">{{tab.name}}</a></li> -->
        </ul>
        <div ng-show="currentTab == 'data-type'">
            <table>
                <tr>
                    <td>Data type alias<br>
                        <small>Overrides node title if entered bla bla bla</small>
                    </td>
                    <td style="width:70%;"><input type="text" ng-model="entity.alias"></td>
                    
                </tr>
    <!--             <tr>
                    <td>Template file</td>
                    <td>
                        <select ng-model="entity.dt.Path" ng-change="readFile()">
                            <option ng-repeat="tpl in entity.tmpl" value="{{tpl.Path}}">{{tpl.Path}}</option>
                        </select>
                    </td>
                    <td>Overrides node title if entered bla bla bla</td>
                </tr> -->
                <!-- <tr>
                    <td>Template path</td>
                    <td><input id="lol" type="text" ng-model="entity.dt.Path" ng-change="readFile()"></td>
                    <td>Path to template file</td>
                </tr> -->
                <tr>
                    <td>Template HTML<br>
                        <small>Edit the template file HTML</small>
                    </td>
                    <td style="width:70%;"><div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="entity.html"></div></td>
                    <style>
                        .CodeMirror { border: 1px solid #ddd; }
                    </style>
                </tr>
                <tr>
                    <td>Data Type Editor</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                       <select ng-model="entity.editor_alias" ng-options="dte.alias as dte.name for dte in dataTypeEditors" ng-change="dataTypeEditorChanged()"></select>
                       <div id="data-type-editor-container"><div ng-include model="selectedDataTypeEditor" src="selectedDataTypeEditor.path"></div></div>
                    </td>
                </tr>
            </table>
        </div>
        <div ui-view></div>
        <button class="btn" type="submit">Update Data Type &raquo;</button>
    </form>
</div>