<div ng-controller="MemberGroupEditCtrl" class="collexy-controller">
    <form role="form" ng-submit="submit()">
        <h4>Edit</h4>
        <input type="text" ng-model="entity.name">
        <ul class="admin-tabs">
            <li ng-class="(currentTab=='properties') ? 'active' : ''"><a href="#properties" collexy-toggle-tab="toggleTab('properties')">Properties</a></li>

        </ul>
        <div ng-show="currentTab == 'properties'">
            <table>
                <tr>
                    <td>Alias:</td>
                    <td><input type="text" ng-model="entity.alias"></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <button class="btn" type="submit">Update Member Group &raquo;</button>
    </form>
</div>