<div ng-controller="TemplateEditCtrl" class="collexy-controller">
    <form role="form" ng-submit="submit()">
        <h4>Edit</h4>

        <input type="text" ng-model="node.name">

        <ul class="admin-tabs">
            <li ng-class="(currentTab=='template') ? 'active' : ''"><a href="#template" collexy-toggle-tab="toggleTab('template')">Template</a></li>
            <li ng-class="(currentTab=='properties') ? 'active' : ''"><a href="#properties" collexy-toggle-tab="toggleTab('properties')">Properties</a></li>
            <!-- <li ng-repeat="tab in node.ct.tabs  | unique: 'name'" ng-class="(currentTab==tab.name) ? 'active' : ''"><a href="#{{tab.name}}" ng-click="toggleTab(tab.name)">{{tab.name}}</a></li> -->
        </ul>
        <div ng-show="currentTab == 'template'">
            <table>
                <tr>
                    <td>
                        Template file HTML<br>
                        <small>Edit the template file HTML</small>
                    </td>
                    <!-- <td><textarea ng-model="node.html"></textarea></td> -->
                    <td style="width:80%;"><div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="node.html"></div></td>
                    <style>
                        .CodeMirror { 
                            height: 600px;
                            border: 1px solid #ddd;
                        }
                    </style>
                </tr>
            </table>
        </div>
        <div ng-show="currentTab == 'properties'">
            <table>
                <tr>
                    <td>Alias</td>
                    <td><input type="text" ng-model="node.alias"></td>
                    <td>Overrides node title if entered bla bla bla</td>
                </tr>
                <tr>
                    <td>Parent Template</td>
                    <td>
                        <select ng-model="node.parent_id" ng-options="t.id as aliasOrName(t.alias,t.name) for t in allTemplates">
                        </select>
                    </td>
                </tr>
                
                <!-- <tr>
                    <td>Template file</td>
                    <td>
                        <select ng-model="node.dt.Path" ng-change="readFile()">
                            <option>New template file ({{node.node.name.toLowerCase()}}.tmpl)</option>
                            <option ng-repeat="tpl in node.tmpl" value="{{tpl.Path}}">{{tpl.Path}}</option>
                        </select>
                    </td>
                    <td>Overrides node title if entered bla bla bla</td>
                </tr> -->
            </table>
        </div>
        <div ui-view></div>
        <button class="btn" type="submit">Update Template &raquo;</button>
    </form>
</div>