<!-- Content of admin.html: -->
{{define "head"}}<title>Home</title>{{end}}
{{define "body"}}
<!-- Banner -->
<div id="banner-wrapper" style="background-image: url('/assets/images/overlay.png'), url('/assets/images/overlay.png'), url('{{.Data.Content.Meta.banner_background_image}}');">
	<section id="banner">
		<h2>{{.Data.Content.Meta.banner_header}}</h2>
		<p>{{.Data.Content.Meta.banner_subheader}}</p>
		<a href="{{.Data.Content.Meta.banner_link}}" class="button">{{.Data.Content.Meta.banner_link_text}}</a>
	</section>
</div>
<!-- Main -->
<div id="main-wrapper">
	<div id="main" class="container">
		
		<div class="row 200%">
			<div class="12u">

				{{template "Featured Pages Widget" .}}
			</div>
		</div>
		<div class="row 200%">
			<div class="12u">
				{{template "Post Overview Widget" .}}
				
			</div>
		</div>
	</div>
</div>
{{end}}