
{{define "base"}}
{{$currentPage := .Data.Content}}
{{$homePage := .Data.Content.GetHomeContentItem}}
<!DOCTYPE HTML>
<html ng-app="myApp">
	<head>
		{{template "head" .}}
		<title>TXT by HTML5 UP</title>
		<meta name="robots" content="noindex">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/assets/scripts/ie/html5shiv.js"></script><![endif]-->
		<script src="/assets/scripts/jquery.min.js"></script>
		<script src="/assets/scripts/jquery.dropotron.min.js"></script>
		<script src="/assets/scripts/skel.min.js"></script>
		<script src="/assets/scripts/skel-layers.min.js"></script>
		<script src="/assets/scripts/init.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<noscript>
			<link rel="stylesheet" href="/assets/styles/skel.css" />
			<link rel="stylesheet" href="/assets/styles/style.css" />
			<link rel="stylesheet" href="/assets/styles/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/styles/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<!-- Header -->
		<header id="header">
			<div class="logo container">
				<div>
					<h1><a href="/{{$homePage.Url}}" id="logo">{{.Data.Content.GetProperty "site_name" 0 2}}</a></h1>
					<p>{{.Data.Content.GetProperty "site_tagline" 0 2}}</p>
				</div>
			</div>
		</header>
		<!-- Navigation -->
		<nav id="nav" class="skel-layers-fixed">
			<ul>
				<!-- <li class="current"><a href="http://{{index .Data.Content.Domains 0}}">Home</a></li>
				<li>
					<a href="">Dropdown</a>
					<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li>
							<a href="">Phasellus consequat</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Phasellus consequat</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
							</ul>
						</li>
						<li><a href="#">Veroeros feugiat</a></li>
					</ul>
				</li>
				<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li><a href="right-sidebar.html">Right Sidebar</a></li>
				<li><a href="no-sidebar.html">No Sidebar</a></li> -->
				
				{{$classes := ""}}
				{{if eq $homePage.Url $currentPage.Url }}
					{{$classes := "current"}}
				
					<li class="{{$classes}}"><a href="http://{{index $homePage.Domains 0}}/{{$homePage.Url}}">{{$homePage.Meta.title}}</a></li>
				{{else}}
					<li><a href="http://{{index $homePage.Domains 0}}/{{$homePage.Url}}">{{$homePage.Meta.title}}</a></li>
				{{end}}
				{{range $content := .Data.Content.GetContentByDepth 0 1 1 }}
					{{$is_not_home := ne $content.Id $homePage.Id}}
					{{$hide_in_nav := eq $content.Meta.hide_in_nav false}}
					{{if and $hide_in_nav $is_not_home}}
						{{$classes := ""}}
						{{$is_current_url := eq $content.Url $currentPage.Url}}
						{{if $is_current_url}}
							{{$classes := "current"}}
						
							<li class="{{$classes}}"><a href="http://{{index $content.Domains 0}}/{{$content.Url}}">{{$content.Meta.title}}</a></li>
						{{else}}
							<li><a href="http://{{index $content.Domains 0}}/{{$content.Url}}">{{$content.Meta.title}}</a></li>
						{{end}}
					{{end}}
				{{end}}
			</ul>
		</nav>
		{{template "body" .}}
		<!-- Footer -->
		<footer id="footer" class="container">
			<div class="row 200%">
				<div class="12u">

					{{template "About Widget" .}}

				</div>
			</div>
			<div class="row 200%">
				<div class="12u">

					{{template "Social" .}}
				
				</div>
			</div>

			<!-- Copyright -->
				<div id="copyright">
					<ul class="menu"><li>{{.Data.Content.HTML $homePage.Meta.copyright}}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>

		</footer>
	</body>
</html>
{{end}}