<!-- Content of admin.html: -->
{{define "head"}}<title>index</title>{{end}}
{{define "body"}}
{{if .HasMember}}
<p>You're logged in as: {{.Data.Member}}</p>
{{end}}
<article>
	<header>
		<h2>{{.Data.Content.Meta.title}}</h2>
	</header>
	<div>
		<p>
			{{.Data.Content.Meta.content}}
		</p>
	</div>
	<p>
		<form action="http://localhost:8080/api/public/member/login" method="POST">
			<input type="text" name="username" id="username">
			<input type="text" name="password" id="password">
			<button type="submit">Login</button>
		</form>
	</p>

</article>
{{end}}