<!-- Content of admin.html: -->
{{define "head"}}<title>index</title>{{end}}
{{define "body"}}
{{if .HasUser}}
<p>You're logged in as: {{.Data.User}}</p>
{{end}}
<article>
	<header>
		<h2>{{.Data.Content.Meta.page_title}}</h2>
	</header>
	<div>
		<p>
			{{.Data.Content.Meta.page_content}}
		</p>
<p style="color: red;">
<!--{{with .}}-->
    {{ .Data.Content.TemplateFunctionTest "value1"}}
<!--{{end}}-->
</p>
	</div>

</article>
{{end}}