{{define "Post Overview Widget"}}

{{$homePage := .Data.Content.GetHomeNode}}

{{$posts := $homePage.GetByContentTypeNodeId 37}}
{{$firstPost := index $posts 0}}


<!-- Blog -->
					<section class="box blog">
						<h2 class="major"><span>Another Major Heading</span></h2>
						<div>
							<div class="row">
								<div class="9u">
									<div class="content content-left">
										<!-- Featured Post -->
											<article class="box post">
												<header>
													<h3><a href="#">{{$firstPost.Meta.title}}</a></h3>
													{{if $firstPost.Meta.sub_header}}
														<p>{{$firstPost.Meta.sub_header}}</p>
													{{end}}
													<ul class="meta">
														<!-- <li class="icon fa-clock-o">15 minutes ago</li> -->
														
														<li class="icon fa-clock-o">{{$firstPost.TimeAgo}}</li>
														<li class="icon fa-comments"><a href="#">8</a></li>
													</ul>
												</header>
												{{if $firstPost.Meta.image}}
													<a href="#" class="image featured"><img src="{{$firstPost.Meta.image}}" alt="" /></a>
												{{end}}
												{{$excerpt := $firstPost.GetSubstring $firstPost.Meta.content 0 150}}

												<p>{{$firstPost.StripHtmlTags $excerpt}}</p>

												
												<a href="http://{{index $firstPost.Domains 0}}/{{$firstPost.Url}}" class="button">Continue Reading</a>
											</article>
									
									</div>
								</div>
								<div class="3u">
									<div class="sidebar">

										<!-- Recent Posts -->
										<section>
											<h2 class="major"><span>Recent Posts</span></h2>
											<ul class="divided">
												{{range $content := $posts}}
													
														{{$is_not_first := ne $content.Node.Id $firstPost.Node.Id}}
														{{if and $content.Meta.is_featured $is_not_first}}
															<li>
																<article class="box post-summary">
																	<h3><a href="http://{{index $content.Domains 0}}/{{$content.Url}}">{{$content.Meta.title}}</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">{{$content.TimeAgo}}</li>
																		<!-- <li class="icon fa-comments"><a href="#">34</a></li> -->
																	</ul>
																</article>
															</li>
														{{end}}

												{{end}}
											</ul>
											<a href="#" class="button alt">Browse Archives</a>
										</section>
									</div>
								</div>
							</div>
						</div>
					</section>
				
{{end}}