<script type="text/ng-template"  id="tree_item_renderer.html">
    <!--<a ui-sref="settings.contentTypes.edit({nodeId:data.id})" ng-right-click="contextMenu({{data.node_type}})">{{data.path}}</a>-->
    <!--<i ng-click="expand_collapse(data)" class="fa" ng-class="data.show == true ? 'fa-caret-down' : 'fa-caret-right'"></i>-->
        <i ng-click="expand_collapse(data)" class="fa" ng-class="data.show == true ? 'fa-folder-open-o' : 'fa-folder-o'"></i>
        <!--<button ng-click="expand_collapse(data)" ng-show="data.show">collapse</button>
        <button ng-click="expand_collapse(data)" ng-show="!data.show">expand</button>-->
        <a ui-sref="settings.contentTypes.edit({nodeId:data.id})" ui-sref-active="active" ng-right-click="getEntityInfo()" ng-context-menu="showOptions(data,$event)">{{data.name}} ({{data.path}})</a>
        <!--<button ng-click="add(data)">Add node</button>-->
        <!--<button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
        <!--<button ng-click="expand_collapse(data)" ng-show="data.show && data.nodes.length > 0">collapse</button>-->
        <ul ng-show="data.show">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
        </ul>

</script>

    <h4>Content Types</h4>
    <div class="admin-tree-container">
        <ul class="admin-tree">
            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>
    
