<div ng-controller="UserGroupEditCtrl" class="collexy-controller">
    <form role="form" ng-submit="submit()">
        <h4>Edit</h4>

        <input type="text" ng-model="data.name">

        <ul class="admin-tabs">
            <li ng-class="(currentTab=='properties') ? 'active' : ''"><a href="#properties" collexy-toggle-tab="toggleTab('properties')">Properties</a></li>
            
        </ul>
        <div ng-show="currentTab == 'properties'">
            <table>
                <!-- <tr>
                    <td>Name:</td>
                    <td><input type="text" ng-model="data.name"></td>
                    <td></td>
                </tr> -->
                <tr>
                    <td>Alias:</td>
                    <td><input type="text" ng-model="data.alias"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Permissions:</td>
                    <td>
                        <table>
                            <thead>
                                <th>Available Permissions</th>
                                <th></th>
                                <th>Selected Permissions</th>
                            </thead>
                            <tr>
                                <td>
                                    
                                    <select multiple="true" ng-model="available" ng-options="item as item.name for item in availablePermissions"></select>
                                </td>
                                <td class="align-center">
                                    <button type="button" ng-click="moveItem(available[0], availablePermissions, selectedPermissions)">--></button><br>
                                    <button type="button" ng-click="moveItem(selected[0], selectedPermissions, availablePermissions)"><--</button>
                                </td>
                                <td>
                                    <select multiple="true" ng-model="selected" ng-options="item as item.name for item in selectedPermissions"></select>
                                </td>
                            </tr>
                        </table>
                        <!-- key as value for (key , value) in data //data.user_group_ids -->
                        
                        <!-- {{availableUserGroups}}<br>
                        {{selectedUserGroups}}<br> -->
                        
                        {{data.permissions}}
                    </td>
                   
                </tr>
            </table>
        </div>
        
        <button class="btn" type="submit">Create User Group &raquo;</button>
    </form>
</div>