<!--Content of base.html:-->
{{define "base"}}
<html ng-app="myApp">
	<head>{{template "head" .}}
<!-- 		<script>
//   var req = new XMLHttpRequest();
//   req.onreadystatechange=state_change;
//   req.open('GET', document.location, false);
//   req.setRequestHeader("Authorization","Bearer " + window.sessionStorage.token);
//   req.send(null);
//   var headers = req.getAllResponseHeaders().toLowerCase();

//   // request.setRequestHeader("Referer", "http://www.google.com");
//   //request.setRequestHeader("User-Agent", "Mozilla/5.0");
//   //request.setRequestHeader("Accept","text/html");
//   //request.setRequestHeader("Content-Type","text/html");

//   function state_change()
//   {
//   	if (req.readyState==4){// 4 = "loaded"
//   		if (req.status==200) {// 200 = OK
//   			// ...our code here...
//   			//alert(headers);
//   		} else{
//   			alert("Problem retrieving XML data");
//   		}
//   	}
//   }
// </script>-->
</head>

	<body>
		<div id="wrapper">
			<header id="site-header">
				<p>header area</p>
			</header>
			{{template "body" .}}
			<footer id="site-footer">
				<small>Footer &copy; 2014 collexy.com</small>
			</footer>
		</div>
	</body>
</html>
{{end}}