<!-- Content of admin.html: -->
{{define "sidebar 2"}}
<aside>
	<h3>This is the amazing sidebar 2</h3>
	<section>
		<header>
			<h4>Text widget 2</h4>
		</header>
		<div>
			<p>Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here</p>
			<p>Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here Text widget content goes here</p>
		</div>
	</section>
	<section>
		<header>
			<h4>Another widget 2</h4>
		</header>
		<div>
			<p>Another widget Another widget Another widget Another widget Another widget Another widget Another widget Another widget Another widget Another widget Another widget Another widget </p>
		</div>
	</section>
</aside>
{{end}}