<script type="text/ng-template"  id="tree_item_renderer.html">
        <i ng-expand-collapse="data" class="fa fa-user fw"></i>
        <a ui-sref="member.edit({id:data.id})"  ui-sref-active="active" ng-context-menu="showOptions(data,$event)">{{data.username}}</a>
</script>


    <h4>Members</h4>
    <div class="admin-tree-container">
		<ul class="admin-tree">
			<li ng-repeat="data in members" ng-include="'tree_item_renderer.html'"></li>
			<!-- <li><a href="">Link 1</a></li> -->
		</ul>
	</div>
