<div ng-controller="Collexy.DataTypeEditor.RadioButtonList.Controller">
    <h1>Radio button list editor</h1>
    <p>Add options below</p>
    <pre>{{entity.meta.options}}</pre>
    <ul ui-sortable ng-model="entity.meta.options" class="unstyled">
		<li ng-repeat="option in entity.meta.options"><input type="text" ng-model="option.value"/><input type="text" ng-model="option.label"/> <button type="button" ng-click="remove(option)">remove</button></li>
	</ul>
	<button type="button" ng-click="add()">Add</button>
</div>