<h2>Dashboard</h2>
<p>Collexy dashboard page</p>
<!-- <p>Estimated work-days remaning until first beta release: <strong style="font-size: 2.5em; color: green;">8</strong></p>
<div id="todo">
	<h5>TODO (General):</h5>
	<ul>
		<li>Implement delete in context menu and recycle bin functionality (est. 2 day)</li>
		<li>Reorder tree/subtrees/indivitual nodes - parent_node_id change -> db trigger db path update (est. 1 day)</li>
		<li>Protect REST API with JWT (est. 1 hour)</li>
		<li>Make test layouts. Real live demo. (½ day)</li>
	</ul>
	<p>Estimated time left until first beta release: <strong>~3½ work-days</strong></p>
</div>

<div id="todo">
	<h5>TODO (Templates):</h5>
	<ul>
		<li>Template data functions (est. 1 day)</li>
		<li>Use is_partial to filter templates. (est. 1 hour)</li>
		<li>Indicate partial templates with font-icon. (est. ½ hour)</li>
	</ul>
	<p>Estimated time left until first beta release: <strong>~1 work-days</strong></p>
</div>

<div id="todo">
	<h5>TODO (Media):</h5>
	<ul>
		<li>Decide how media files are stored in the file system (est. 1 day)</li>
		<li>Implement POST/PUT functionality. (est. ½ day)</li>
		<li>Make folder views. (est. ½ day)</li>
	</ul>
	<p>Estimated time left until first beta release: <strong>~2 work-days</strong></p>
</div>

<div id="todo">
	<h5>TODO (Directory):</h5>
	<ul>
		<li>Associate files with database nodes (est. 1 day)</li>
		<li>Load scripts/styles in template function. (est. ½ day)</li>
	</ul>
	<p>Estimated time left until first beta release: <strong>~1½ work-days</strong></p>
</div> -->