<!-- Content of admin.html: -->
{{define "head"}}<title>Home</title>{{end}}
{{define "body"}}
<!-- Banner -->
<div id="banner-wrapper" style="background-image: url('/assets/images/overlay.png'), url('/assets/images/overlay.png'), url('{{.Data.Content.Meta.bannerBackgroundImage}}');">
	<section id="banner">
		<h2>{{.Data.Content.Meta.bannerHeader}}</h2>
		<p>{{.Data.Content.Meta.bannerSubheader}}</p>
		<a href="{{.Data.Content.Meta.bannerLink}}" class="button">{{.Data.Content.Meta.bannerLinkText}}</a>
	</section>
</div>
<!-- Main -->
<div id="main-wrapper">
	<div id="main" class="container">
		
		<div class="row 200%">
			<div class="12u">

				{{template "Featured Pages Widget" .}}
			</div>
		</div>
		<div class="row 200%">
			<div class="12u">
				{{template "Post Overview Widget" .}}
				
			</div>
		</div>
	</div>
</div>
{{end}}