<!-- Content of admin.html: -->
{{define "Recent Posts Widget"}}
<!-- Recent Posts -->
<section>
	<h2 class="major"><span>Recent Posts</span></h2>
	<ul class="divided">
		{{range $content := .Data.Content.GetAncestors 0 1}}
			{{if $content.Eq $content.ContentTypeId 3}}
				{{if $content.Meta.is_featured}}
				<li>
					<article class="box post-summary">
						<h3><a href="http://{{index $content.Domains 0}}/{{$content.Url}}">{{$content.Meta.title}}</a></h3>
						<ul class="meta">
							<li class="icon fa-clock-o">{{$content.TimeAgo}}</li>
							<!-- <li class="icon fa-comments"><a href="#">34</a></li> -->
						</ul>
					</article>
				</li>
				{{end}}
			{{end}}
		{{end}}
	</ul>
	<a href="#" class="button alt">Browse Archives</a>
</section>

{{end}}