{{define "Social"}}
<!-- Contact -->
<section>
	<h2 class="major"><span>Get in touch</span></h2>
	<ul class="contact">
		<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
		<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
		<li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
		<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
		<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
	</ul>
</section>
				

{{end}}