<script type="text/ng-template"  id="tree_item_renderer.html">
    <!--<a ui-sref="adminMedia.edit({nodeId:data.id})" ng-right-click="contextMenu({{data.node_type}})">{{data.path}}</a>-->
    <!--<i ng-click="expand_collapse(data)" class="fa" ng-class="data.show == true ? 'fa-caret-down' : 'fa-caret-right'"></i>-->
        <!--<i ng-click="expand_collapse(data)" class="fa" ng-class="data.show == true ? 'fa-folder-open-o' : 'fa-folder-o'"></i>-->
        <i ng-click="expand_collapse(data)" ng-class="data.icon"></i>
        <!--<button ng-click="expand_collapse(data)" ng-show="data.show">collapse</button>
        <button ng-click="expand_collapse(data)" ng-show="!data.show">expand</button>-->
        <a ui-sref="media.edit({nodeId:data.id})"  ui-sref-active="active" ng-context-menu="showOptions(data,$event)">{{data.name}} ({{data.path}})</a>
        <!--<button ng-click="add(data)">Add node</button>-->
        <!--<button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
        <!--<button ng-click="expand_collapse(data)" ng-show="data.show && data.nodes.length > 0">collapse</button>-->
        <ul ng-show="data.show">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
        </ul>

</script>
<div ng-controller="MediaTreeCtrl">
    <div class="top-search def-pad">
        <input type="search" placeholder="search..."><br>
        <!-- <select>
            <option>Bulk actions</option>
            <option>Delete selected</option>
        </select>
        <button>Apply</button> -->
    </div>
    <h4>Media</h4>
    <div class="admin-tree-container">
        <ul class="admin-tree" ng-context-menu="showOptions(rootNode,$event)">
            <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>
    <div id="overlay">
    <!-- {{currentItem.entity.allowedContentTypes}} -->
        <!-- {{currentItem.entity.content_type.meta.allowed_content_types_node_id}} -->
        <!-- <p>Context menu for {{currentItem.name}}</p> -->
        <ul>
            <li>
                <a>New</a>
                <ul ng-if="currentItem.entity.allowedContentTypes[0].node_id">
                    <li ng-repeat="ct in currentItem.entity.allowedContentTypes">
                        <a ui-sref="media.new({node_type:2, content_type_node_id: ct.node.id, parent_id:{{currentItem.id}}})">{{ct.alias}}</a>
                    </li>
<!--                     <li>
                        <a ui-sref="adminContent.new">Page</a>
                    </li>
                    <li>
                        <a ui-sref="adminContent.new">Product</a>
                    </li> -->
                </ul>
                <ul ng-if="!currentItem.entity.allowedContentTypes[0].node_id">
                    <li ng-repeat="ct in currentItem.entity.allowedContentTypes">
                        <a ui-sref="media.new({node_type:2, content_type_node_id: ct.id, parent_id:{{currentItem.id}}})">{{ct.name}}</a>
                    </li>
<!--                     <li>
                        <a ui-sref="adminContent.new">Page</a>
                    </li>
                    <li>
                        <a ui-sref="adminContent.new">Product</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a>Delete</a>
            </li>
        </ul>
        <!-- <p>{{currentItem}}</p>
        <ul>
            <li ng-switch on="currentItem.node_type">
                <a>New</a>
                <ul ng-switch-when="2">
                    <li>
                        <a ui-sref="adminMedia.new({node_type:2, parent_id:{{currentItem.id}}})">Item</a>
                    </li>

                </ul>
                <ul ng-switch-when="5">
                    <li>
                        <a ui-sref="adminMedia.new({node_type:2, parent_id:{{currentItem.id}}})">Item</a>
                    </li>
                </ul>

            </li>
            <li>
                <a>Delete</a>
            </li> -->
        </ul>
        <!-- <ul>
            <li ng-repeat="option in currentItem.nodes">
                <a>
                    {{ option.name }}
                    <ul ng-if="option.nodes">
                        <li ng-repeat="child in option.nodes">
                            <a>{{ child.name }} </a>
                        </li>
                    </ul>
                </a>
            </li>
        </ul> -->
    </div>

    <!-- <div class="dropdown position-fixed" id="ng-context-menu">
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="option in menuOptions">
          <a class="pointer" role="menuitem" tabindex="1"
             ng-click="panel.highlight = true">
             {{ option.name }}
             <ul ng-if="option.children" style="padding: 1em 0; list-style-type: none;">
                 <li ng-repeat="child in option.children">
                    <a>{{ child.name }} </a>
                 </li>
             </ul>
          </a>
        </li>
      </ul>
    </div> -->
</div>